---
import Typography from '../Typography.astro'
---

    <div class="mt-8">
         <Typography class:list='dark:text-white text-black' as="h2" variant='head'>
            Sobre mí
        </Typography>
        <p class="w-[700px] text-pretty dark:text-white text-black">
            Soy <span class="font-semibold text-primary">Wilyer</span>, Desarrollador de Software y amante de las tecnologías web modernas. Me encanta aprender cosas nuevas todos los días; <span class="font-semibold text-primary">Eventualmente</span> me ecuentro explorando y contribuyendo en proyectos <span class="font-semibold dark:text-green-400 text-green-500">open source</span>. Soy proactivo, orientado a los detalles y disfruto trabajando en <span class="font-semibold dark:text-green-400 text-green-500">equipo</span> 
        </p>
    </div>

<style>
    p {
        font-size: 15px;
        line-height: 19px;
    }
</style>