---
import { FaUserCheck } from "react-icons/fa";
import Typography from "../Typography.astro";
import { AboutMe } from '../../assets/index'
import Image from "astro/components/Image.astro";

---

<section id="sobre-mi" class="w-full h-auto flex justify-center relative">
   <!-- <div class="w-full"/> -->

     <article class="md:w-full relative h-full w-full text-center items-center justify-center dark:card_info_dark  md:ml-14 rounded-xl flex flex-col p-5 gap-5">
            <div id="about_image" class:list="aboutMeDark" />
    </article>

</section>

<style>
    .card_info_dark {
       background: linear-gradient(61deg, rgba(18,17,19,1) 0%, #18181b  100%);
    }
</style>