---
import ButtonEmail from "../Buttons/ButtonEmail.astro";
import ButtonRedirect from "../Buttons/ButtonRedirect.astro";
import Typography from "../Typography.astro";
import { GrLocation } from "react-icons/gr";
import { TbFileDownload } from "react-icons/tb";
import { FaFileCsv, FaGithub } from "react-icons/fa";
import { FaLinkedin } from "react-icons/fa";
import { Image } from "astro:assets";
import { pencilCircle, arrow, profilePhoto } from '../../assets/index'
---

<section id="sobre-mi" class="flex md:flex-row flex-col gap-6 lg:gap-8">
    <Image alt='imagen de un circulo dibujado con lapiz' class="dark:opacity-0 w-52 left-[334px] absolute xl:block hidden scale-[1.2]" src={pencilCircle} />

    <Image alt="imagen de una flecha dibujada" class="dark:opacity-0 w-32 rotate-12 lg:w-28 absolute right-48 lg:right-[17%] md:hidden lg:block top-28 lg:top-16" src={arrow} />

    <Image alt='foto de perfil del usuario' class="w-40 lg:left-[360px] lg:top-[100px]" src={profilePhoto} />

    <div class="bg-contrastGhostColor top-10 -left-4 lg:left-72 w-60 h-60 rounded-full absolute opacity-60 blur-3xl -z-50" />

    <article class="items-start justify-center flex flex-col gap-1">
        <div class="flex items-center gap-2">
            <Typography as="h1" variant='big' color="toggle" >
                Wilyer Queipo Riera
            </Typography>
            
            <button class="text-xs rounded-2xl bg-[#ccffd4] bg-opacity-8
            0 border border-green-600 dark:text-secondTextColor dark:border-primary dark:bg-ghostPrimary font-semibold text-[#0b6720] py-1 px-2">
                Disponible para trabajar
            </button>
        </div>

        <Typography as="h2" variant='bigger' color='toggle'>
            Desarrollador Fullstack en Javascript
        </Typography>

        <p class="flex items-center font-medium text-md mt-1 dark:text-secondTextColor text-zinc-700">
            <GrLocation size={22}/>
            Venezuela, Lara
        </p>

        <div class="flex gap-2 text-[#363333] dark:text-secondTextColor items-center">
            <ButtonEmail>wilyer.developer@gmail.com</ButtonEmail>

            <ButtonRedirect url="public/files/Curriculum-dev.pdf">
                <FaFileCsv size={23} />
            </ButtonRedirect>
            <ButtonRedirect url="https://github.com/Wilpost">
                <FaGithub size={23}/>
            </ButtonRedirect>
            <ButtonRedirect url='https://www.linkedin.com/in/wilyer-queipo-riera-0a69752b8'>
                <FaLinkedin size={23}/>
            </ButtonRedirect>
        </div>
    </article>
</section>

<style>
    .mash {
        mask-image: radial-gradient(
            black 1%,
            transparent
        );
        filter: contrast(0.6);
    }
</style>