---
import Typography from "../Typography.astro";
import { TECNOLOGIES_LIST } from '../../const/tecnologies'
import ButtonTecnology from "../Buttons/ButtonTecnology.astro";
---
<!-- lg:pl-80  -->
<section
    id="tecnologies"
    class="
        w-auto
        h-auto
        flex
        items-center
        mt-12
        p-2
        gap-3
    "
>
    <div
        class="w-full pl-3 items-center flex flex-col justify-center"
    >
        <Typography
        color="toggle"
        as="h2"
        variant="head"
    >
        Tecnologías
    </Typography>

    <!-- Lista de tecnologias -->
    <div
        class="
            flex
            w-full
            justify-center
            items-center
        "
    >
        <ul
            role="list"
            class="
                md:w-auto
                md:max-w-[760px]
                w-full
                justify-start
                flex
                flex-wrap
                mt-1
                bg-zinc-200
                dark:bg-zinc-900
                p-3
                rounded-md
                pl-5
                gap-2
            "
        >
            {
                TECNOLOGIES_LIST.map(tecnology => {
                    return (
                        <li>
                            <ButtonTecnology
                                icon={tecnology.icon}
                                alt={tecnology.alt}
                            >
                                {tecnology.name}
                            </ButtonTecnology>
                        </li>
                    )
                })
            }
        </ul>
    </div>
    </div>

</section>