---
import ProfileSection from '../components/sections/Profile.astro';
import MyInfoSection from '../components/sections/MyInfoSection.astro';
import ProjectSection from '../components/sections/ProjectSection.astro';
import TecnologiesSection from '../components/sections/TecnologiesSection.astro';

import Layout from '../layouts/Layout.astro';
import { FaLinkedin } from 'react-icons/fa';
import AboutMeSection from '../components/sections/AboutMeSection.astro';
---

<Layout
	title="Portafolio de Wilyer | Programador y Desarrollador Web"
	description='Contrata a wilyer para crear aplicaciones web fullstack. Desarrollador web FullStack en Javascript'
>
	<main
		class="w-full items-center flex flex-col gap-3"
	>

	<section
		class="
			w-full
			justify-center
			items-center
			flex 
			flex-col
			p-4
			px-4
		"
	>
		<MyInfoSection />

		<ProfileSection />
    <span class="w-full lg:w-[54%] mt-5 p-[0.5px] bg-zinc-300 dark:bg-zinc-700"/>
	</section>

		<TecnologiesSection />
		<ProjectSection />

		<section
			id="contact"
			class="
				w-full
				flex
				flex-col
				items-center
			"
		>
			 <span class="w-full ml-16 mb-5 lg:w-[52%] mt-5 p-[0.5px] bg-zinc-300 dark:bg-zinc-700"/>
			<AboutMeSection />
			
		</section>
	</main>

	<footer class="bg-zinc-200 dark:bg-zinc-900 mt-10 w-full min-h-20 p-10 flex items-end justify-center">
		<div
			class="lg:w-3/4 flex lg:px-10 items-center justify-around"
		>
			<div class="leading-10">
				<p class="lg:text-center pointer-events-none select-none text-sm text-zinc-800 dark:text-zinc-400">&copy; 2024 Wilyer Queipo. Casi todos los derechos reservados</p>
				<p class="lg:text-start text-center pointer-events-none select-none text-sm text-zinc-800 dark:text-zinc-400">
					Echo con
					<span class="dark:after:content-['ðŸ¤'] after:content-['â¤']"/>
					y Astro
				</p>
			</div>

			<div class="dark:bg-zinc-900 dark:hover:bg-zinc-800 transition bg-zinc-200 hover:bg-zinc-300 rounded-full p-2 lg:flex hidden gap-2 -mt-2 text-md font-semibold dark:text-white text-zinc-900">
				<a target="_blank" href="https://www.linkedin.com/in/wilyer-queipo-riera-0a69752b8"><FaLinkedin size={20}/></a>
			</div>
		</div>
	</footer>
</Layout>
