---
import AboutSection from '../components/sections/AboutSection.astro';
import MyInfoSection from '../components/sections/MyInfoSection.astro';
import ProjectSection from '../components/sections/ProjectSection.astro';
import TecnologiesSection from '../components/sections/TecnologiesSection.astro';
import Typography from '../components/Typography.astro';
import { BiSend } from "react-icons/bi";

import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Portafolio de Wilyer | Programador y Desarrollador Web"
	description='Contrata a wilyer para crear aplicaciones web fullstack. Desarrollador web FullStack en Javascript'
>
	<main
		class="w-full items-center flex flex-col gap-3"
	>

		<section
		class="
			w-full
			justify-center
			items-center
			flex 
			flex-col
			p-4
		"
	>
		<MyInfoSection />

		<AboutSection />
    	<span class="w-[54%] mt-5 p-[0.5px] bg-zinc-300 dark:bg-zinc-700"/>
	</section>

		<TecnologiesSection />
		<ProjectSection />

		<section
			id="contact"
			class="
				w-full
				flex
				flex-col
				items-center
			"
		>
			<!-- <Typography as="h2" variant="head" color='toggle' >
				Enviame un mensaje...
			</Typography> -->

			<span class="text-sm text-zinc-800 dark:text-secondTextColor mt-6">Enviame un mensaje...</span>
			<form class="flex items-center gap-2 mt-2">
				<input
					type="text"
					placeholder="Send message"
					class="
						w-72
						bg-zinc-200
						text-zinc-800
						font-semibold
						text-md
						dark:bg-zinc-800
						py-[6px]
						pl-3
						outline-none
						px-2
						focus:outline-primary
						placeholder:text-zinc-700
						placeholder:font-medium
						rounded-2xl
					"
				/>

				<button
					class="
						bg-primary
						hover:bg-primaryDark
						active:scale-90
						transition
						p-2
						rounded-full
						flex
						items-center
						gap-1
						text-white
					"
				>
					<span class="sr-only">Send</span>
					<BiSend size={22} />
				</button>
			</form>
		</section>
	</main>

	<footer class="w-full min-h-20 p-10 flex items-end justify-center">
		<div
			class="w-3/4 flex px-10 items-center justify-around"
		>
			<div class="leading-10">
				<p class="text-center pointer-events-none select-none text-sm text-zinc-800 dark:text-zinc-400">&copy; 2024 Wilyer Queipo. Casi todos los derechos reservados</p>
				<p class="text-start pointer-events-none select-none text-sm text-zinc-800 dark:text-zinc-400">
					Echo con
					<span class="dark:after:content-['ðŸ¤'] after:content-['â¤']"/>
					y Astro
				</p>
			</div>

			<div class="flex gap-2 text-md font-semibold dark:text-white text-black">
				<a href="#contacto">Contacto</a>
			</div>
		</div>
	</footer>
</Layout>
