---
import { MdOutlineDarkMode } from "react-icons/md";
import { IoSunnyOutline } from "react-icons/io5";
---

<nav
  id="header"
  class="
      mb-8
			sticky
			lg:left-[37%]
			lg:right-2/3
			w-[350px]
			px-3
			lg:animation-light
			p-2
		  z-[99999]
			rounded-3xl
			dark:text-white
			text-black
			top-2
			font-semibold
			flex
			items-center
			justify-between"
>
  <ul class="
        flex
        list_nav
				gap-3
				items-center
				justify-center
				text-sm pl-5">
    <a class="flex flex-col items-center" href="#tecnologies">
      Tecnologías
      <div class="layer absolute bottom-3 p-[1px] px-1 rounded-full block dark:bg-purple-200 bg-primary"></div>
    </a>
    <a href="#proyects">Experiencía</a>
    <a href="#sobre-mi">Sobre mí</a>
  </ul>

  <ul>
    <button
      id="toggle_theme"
      class="dark:hidden block p-2 hover:scale-110 text-white bg-zinc-800 active:scale-100 transition rounded-full"
    >
      <MdOutlineDarkMode size={20} />
    </button>

    <button
      id="toggle_theme-2"
      class="pop dark:block hidden p-2 hover:scale-110 text-black bg-white active:scale-100 transition rounded-full"
    >
      <IoSunnyOutline size={20} />
    </button>
  </ul>
</nav>

<style>
  .layer {
    animation-name: translateLayer;
		animation-fill-mode: both;

		animation-timeline: scroll(root);
		animation-range: 0px 1600px;
  }

  @keyframes translateLayer {
    0% {
      transform: translateX(0px);
      width: 30px;
    }

    20% {
      transform: translateX(0px);
      width: 30px;
    }

    38% {
      transform: translateX(90px);
      width: 30px;
    }

    79% {
      transform: translateX(90px);
      width: 30px;
    }

    100% {
      transform: translateX(170px);
      width: 30px;
    }
  }
</style>
